*{
    text-align: center;  
}

body{
    margin: 0; 
    height: 100vh;
    background-color: rgb(107, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .maintype{
        display: flex;

        div{
            margin: 0 1rem;
            input{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1vw;
            }
            label{
                font-size: 1.5rem;
            }
        }
    }
    button{
        padding: 0.5rem 5rem;
        margin: 2rem 0;
    }
    p{
        font-size: 2rem;
    }
}